/*asset/css/frontend_post.css*/
.Random-thumb{
    background: white;
}

.Random-thumb .player,
.Random-thumb .comment{
    display: grid;
    grid-template-columns: 70% auto;
    grid-gap: 10px;
    padding: 15px;
}

.Random-thumb .comment{
    padding-top: 0;
}

.Random-thumb .player .screen .video-wrapper div{
    position: relative;
    padding-top: 56.25%;
}

.Random-thumb .player .screen .video-wrapper iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.Random-thumb .player .screen .text-content{
    color: grey;
    padding-top: 10px;
}

.Random-thumb .player .playlist{
    max-height: 420px;
    overflow: auto;
}

.Random-thumb .player .playlist .video-part{
    background: lightgrey;
    color: rgb(87, 87, 87);
    padding: 10px;
    margin-bottom: 5px;
    font: bold 15px/1.5 Courgette, HandWriting;
}

.Random-thumb .player .playlist div:hover{
    cursor: pointer;
    opacity: .8;
}

@media only screen and (max-width: 600px){
    .Random-thumb .player,
    .Random-thumb .comment{
        grid-template-columns: 100%;
    }
}