/*asset/css/index.css*/
section{
    width: 400px;
    margin: 100px auto;
    background: lightgrey;
}

section header{
    text-align: center;
    font: 16px/1.5 Oswald, Koulen;
    border-bottom: 1px solid grey;
    padding: 5px;
}

section form{
    display: grid;
    grid-template-columns: 21% auto;
    grid-gap: 5px;
    align-items: center;
    padding: 20px;
}

section form a{
    text-align: right;
    color: black;
}

section form input{
    padding: 2px 5px;
    font: 14px/1.5 Vidaloka, OdorMeanChey;
}

section form div{
    text-align: center;
}