/*asset/css/partials/header.css*/
.Head{
    background: var(--foreground);
    padding: 7px;
}

.Head header{
    display: grid;
    grid-template-columns: 25% auto 25%;
    align-items: center;
}

.Head .site-logo{
    font: 22px/1.5 Limonf3;
}

.Head form{
    display: grid;
    grid-template-columns: 20% auto 15%;
}

.Head form input, .Head form select{
    font: 14px/1.5 Vidaloka, OdorMeanChey;
    padding: 0 5px;
}

.Head .logout{
    text-align: right;
    font-size: 18px;
}

.Head .logout a{
    color: white;
}

@media only screen and (max-width: 600px){
    .Head header{
        grid-template-columns: 100%;
        text-align: center;
    }

    .Head .logout{
        text-align: center;
    }
}