/*asset/css/partials/listing*/
.Listing{
    margin-top: 10px;
}

.Listing .info{
    background: lightgrey;
    padding: 5px;
    text-align: center;
    margin-bottom: 10px;
}

.Listing .items{
    display: grid;
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    grid-gap: 10px;
}

.Listing .items .item{
    display: grid;
    grid-template-columns: 20% auto 20%;
    grid-gap: 10px;
    align-items: center;
    background: lightgrey;
}

.Listing .items .item .thumb{
    width: 100%;
    float: left;
}

.Listing .items .item .wrapper{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.Listing .items .item .icon{
    text-align: right;
    padding-right: 10px;
    visibility: hidden;
}

.Listing .items .item:hover .icon{
    visibility: visible;
}

.Listing .items .item .icon img{
    width: 35px;
}

.Listing .load-more{
    background: lightgrey;
    margin: 10px 0;
    text-align: center;
    padding: 5px 0 0;
}

.Listing .load-more img:hover{
    opacity: .5;
    cursor: pointer;
}