/*asset/css/partials/menu.css*/
.Menu-wrapper{
    background: lightgrey;
}
.Menu{
    max-height: 600px;
    padding: 20px;
    display: grid;
    grid-template-columns: 25% auto;
    grid-gap: 10px;
    align-items: center;
}

.Menu a img{
    width: 100%;
}

.Menu a{
    font: 18px/1.5 Koulen, Oswald;
}